# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Just in time.iml
# Datasource local storage ignored files
/../../../../../../../:\Multimedia\EducationUnityProjects\Just in time\.idea\.idea.Just in time\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
